@use '../utils/variables' as *;
@use '../utils/animations' as *;
@use '../utils/mixins' as *;

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-bottom: 1px solid map-get($theme-colors, "gray-dark");

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
  }

  &__content {
    display: block;
    position: absolute;
    inset: 0;
    bottom: 25%;
    top: auto;
    left: 0;
    right: 0;
    text-align: center;

    @media (min-width:map-get($viewport, "desktop")) {
      bottom: 175px;
    }
  }

  &__tagline {
    font-family: $font-display;
    font-weight: 600;
    font-size: map-get($title-size, "s");
    color: #fff;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin-bottom: 0.765rem;

    @media (min-width:map-get($viewport, "tablet")) {
      font-size: map-get($title-size, "m");
      margin-bottom: map-get($spacing, "s");
    }
  }

  &__description {
    font-family: $font-text;
    font-weight: 400;
    font-size: map-get($text-size, "m");
    color: map-get($theme-colors, "gray-light");
    letter-spacing: -0.01em;
    display: none;

    @media (min-width:map-get($viewport, "tablet")) {
      font-size: map-get($text-size, "l");
      display: block;
    }
  }
}