
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

body {
  background-color: map-get($theme-colors, "gray-900");
  color: #fff;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
