@use 'variables' as *;

@mixin radius ($radius) {
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;
}

@mixin opacity ($value) {
	opacity: $value;
	-khtml-opacity: $value;
	-moz-opacity: $value;
	$opacity-ie: $value * 100;
	filter: alpha(opacity=$opacity-ie); //ie-8
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin horizontal-align {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin center-align {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

@mixin breakpoint ($point, $value:0) {

	@if $point == "mobile" {
		@media (min-width: map-get($viewport, mobile) ) { @content; }
	}

	@if $point == "teblet" {
		@media (min-width: map-get($viewport, tablet) ) { @content; }
	}

	@else if $point == "desktop" {
		@media (min-width:map-get($viewport, desktop)) { @content; }
	}
}


@mixin keyframes ($name) {
	@-moz-keyframes #{$name} {
		@content;
	}
	
	@-webkit-keyframes #{$name} {
		@content;
	}
	
	@-o-keyframes #{$name} {
		@content;
	}
	
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation ($arguments...) {
	-moz-animation: $arguments;
	-webkit-animation: $arguments;
	-o-animation: $arguments;
	animation: $arguments;
}

@mixin transition ($arguments...) {
	-moz-transition: $arguments;
	-webkit-transition: $arguments;
	transition: $arguments;
}

@mixin blocks-grid ($blocks) {
	$blocks-grid: $blocks;
	$blocks-grid-margin: $blocks / 2;
	$blocks-width-size: 100% / $blocks-grid;
	$blocks-height-size: 100vw / $blocks-grid;
	width: $blocks-width-size;
	height: $blocks-height-size;
	@include background-clip(padding-box);
	border: #{$blocks-grid-margin}px solid transparent;

	&.course-important {
		width: $blocks-width-size * 2;
		height: $blocks-height-size * 2;
	}
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
		border-radius: 10px;

    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}