
// Colors

$theme-colors: (
  "a-blue": #0439D7,
  "a-red": #FF433D,
  "gray-light": #F7F7F7,
  "gray-silver": #D9D9D9,
  "gray-carbon": #262626,
  "gray-dark": #080808,
  "a-magent": #E91FEA,
  "a-cyan": #21E9EA,
  "a-yellow": #E9E92B,
  "a-green": #67FF78,
  "gray-100": #F7F7F7,
  "gray-200": #D9D9D9,
  "gray-300": #BBBBBB,
  "gray-400": #9D9D9D,
  "gray-500": #808080,
  "gray-600": #626262,
  "gray-700": #444444,
  "gray-800": #262626,
  "gray-900": #080808,
);


// Font Families

$font-display: "Inter Tight", sans-serif;
$font-text: "Inter", sans-serif;
$font-mono: "Roboto Mono", monospace;


// Font Sizes

$title-size: (
  "xxs" : 1rem,
  "xs" : 1.125rem,
  "s" : 1.625rem,
  "m-s" : 2.5rem,
  "m" : 3rem,
  "l" : 3.75rem
);

$text-size: (
  "s" : 0.875rem,
  "m" : 1rem,
  "l" : 1.25rem,
  "xl" : 1.5rem,
  "xxl" : 2rem,
);


// Spacing: Matgins & Paddings

$spacing: (
  "xs" : 1rem,
  "s" : 2rem,
  "m" : 3rem,
  "l" : 4rem,
  "xl" : 5rem,
  "xxl" : 7rem,
);


// Viewport

$viewport: (
  "mobile": 480px,
  "tablet": 767px,
  "desktop": 1024px,
);


// radius

$border-radius: (
  "s": 4px,
  "m": 8px,
  "l": 12px,
);


// Blog Slider 

$blog-slide-width: (
  "desktop": 850px,
  "tablet": 720px,
  "mobile": 286px
);

$blog-post-image-size: (

  "desktop": 375px,
  "tablet": 300px,
  "mobile": 270px
)