// Colors

$theme-colors: (
  "gray-light": #a1a1a1,
  "gray-carbon": #666666,
  "gray-dark": #1f1f1f,
);


// Font Families

$font-display: "Geist", sans-serif;
$font-text: "Geist", sans-serif;
$font-mono: "Geist Mono", monospace;


// Font Sizes

$title-size: (
  "xxs" : 1rem,
  "xs" : 1.125rem,
  "s" : 1.625rem,
  "m-s" : 2.5rem,
  "m" : 3rem,
  "l" : 3.75rem
);

$text-size: (
  "s" : 0.875rem,
  "m" : 1rem,
  "l" : 1.25rem,
  "xl" : 1.5rem,
  "xxl" : 2rem,
);


// Spacing: Matgins & Paddings

$spacing: (
  "xs" : 1rem,
  "s" : 2rem,
  "m" : 3rem,
  "l" : 4rem,
  "xl" : 5rem,
  "xxl" : 7rem,
);


// Viewport

$viewport: (
  "mobile": 480px,
  "tablet": 767px,
  "desktop": 1024px,
);