@use "../utils/variables" as *;

.btn-rounded {
  font-weight: 500;
  display: inline-block;
  border-radius: 50px;
  transition: background 0.3s ease;
  padding:  12px 24px;
  font-size: map-get($text-size, l);
  background: map-get($theme-colors, gray-100);
  color: map-get($theme-colors, gray-900);
  border: 1px solid map-get($theme-colors, gray-100);

  &:hover {
    background-color: rgba(map-get($theme-colors, gray-100), .6);
  }

  &.primary {
    background: map-get($theme-colors, a-blue);
    color: map-get($theme-colors, gray-light);
    border: 1px solid map-get($theme-colors, a-blue);
        
    @media (max-width: map-get($viewport, mobile)) {
     width: 100%;
    }

    &:hover {
      background-color: rgba(map-get($theme-colors, a-blue), .6);
    }
  }

  @media (max-width: map-get($viewport, tablet)) {
    font-size: map-get($text-size, m);
  }
}

.btn-rounded-pill { 
  font-weight: 500;
  font-size: map-get($text-size, s );
  display: inline-block;
  border-radius: 24px;
  transition: background 0.3s ease;
  width: auto;


  &.primary {
    background: map-get($theme-colors, a-blue);
    color: map-get($theme-colors, gray-light);
    padding:  4px 12px;
    border: 1px solid map-get($theme-colors, a-blue);

    &:hover {
      background-color: rgba(map-get($theme-colors, a-blue), .6);
    }
  }
}

.btn-arrow {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 10;

  &:hover {
    opacity: 0.8;
  }
}