@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section-container {
  max-width: 1078px;
  margin: 0 1.25rem;
  border: 1px solid map-get($theme-colors, 'gray-dark');

  @media (min-width: map-get($viewport, "desktop")) {
    margin: 0 auto;
  }
}