@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section-container {
  max-width: 1200px;
  margin: 0 1.25rem;
  border: none;

  @media (min-width: map-get($viewport, "desktop")) {
    margin: 0 auto;
  }
}
