@use '../utils/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  margin-top: map-get($spacing, "s");

  &:last-child {
    border-bottom: none;
  }
}
