@use '../utils/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.section {
  margin-top: map-get($spacing, "s");

  &:last-child {
    border-bottom: none;
  }
}
